<li class="post">
  <h2 class="post-title">
    <a href="/post/{{ slug }}">
      {{# if title }}
        {{ title }}
      {{/ if }}
    </a>
  </h2>
  <h4 class="date">
    {{ formatted_date }}
  </h4>
  {{# unless title }}
    <span class="permalink">
        &nbsp;&nbsp;
        <a href="/post/{{ slug }}">
          link →
        </a>
    </span>
  {{/ unless }}
  <div class="post-preview">
    <p>
      {{ post_preview }}
    </p>
    {{# unless full_post_in_preview }}
      <a href="/post/{{ slug }}">
        <p class="read-more">Read More →</p>
      </a>
    {{/ unless }}
  </div>
</li>
