<!DOCTYPE html>
<html>
  <head>
    {{> head }}
  </head>
  <body>
    <h1 id="site-header"><a href="/">Patrick Weaver: Blog</a></h1>
    {{> pagination }}

    <hr style="height: 6px; border-top: 2px solid {{ hrBorderColors.a }}; border-bottom: 2px solid {{ hrBorderColors.b }};">
    {{{body}}}
    <hr style="border-top: 2px solid {{ hrBorderColors.a }}; border-bottom: 2px solid {{ hrBorderColors.b }};">
    {{> pagination }}
    {{> script }}
    <div id="hide">
      <span id="apiUrl">{{ apiUrl }}</span>
    </div>
  </body>
</html>
