<!DOCTYPE html>
<html>
  <head>
    {{> head }}
  </head>
  <body>
    <h1 id="site-header"><a href="/">Patrick Weaver: Blog</a></h1>
    {{#if index}}
      {{> pagination }}
    {{/if }}

    <hr style="border-top: 2px solid {{ hrBorderColors.a }}; border-bottom: 2px solid {{ hrBorderColors.b }};">
    {{{body}}}
    <hr style="border-top: 2px solid {{ hrBorderColors.a }}; border-bottom: 2px solid {{ hrBorderColors.b }};">
    {{#if index}}
      {{> pagination }}
    {{/if }}
    {{> script }}
    <div id="hide">
      <span id="apiUrl">{{ apiUrl }}</span>
    </div>
  </body>
</html>
